<div class="navbar navbar-default navbar-fixed-top secondary">
	<div class="container">
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown">Comic-Realm <strong class="caret"></strong></a>
				<ul class="dropdown-menu">
					<li class="action" id="new_project"><a href="#">
						<i class="fa fa-plus"> New Project</i>
					</a></li>
					<li class="action" id="new_notebook"><a href="#">
						<i class="fa fa-plus"> New Notebook</i>
					</a></li>
					<li class="action" id="new_document"><a href="#">
						<i class="fa fa-plus"> New Document</i>
					</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>