<div class="container text-editor">
	<div class="toolbar">
		<icon class="glyphicon glyphicon-print"></icon>
		<icon class="glyphicon glyphicon-floppy-disk"></icon>
		<icon class="glyphicon glyphicon-bold"></icon>
		<icon class="glyphicon glyphicon-italic"></icon>
		<icon class="glyphicon glyphicon-underline"></icon>
	</div>
	<div class="page">
		<textarea>This is demo text</textarea>
	</div>
</div>