<div class="container text-editor">
	<div class="toolbar" data-role="editor-toolbar" data-target="#editor">
		<div class="btn-group">
			<button class="btn" id="new-page" title data-original-title="New" onclick="text_editor.new_page();"><i class="button fa fa-file"></i></button>
			<button class="btn" id="save-document" title data-original-title="Save"><i class="button fa fa-save"></i></button>
			<button class="btn" data-edit="undo" title data-original-title="Undo (Ctrl/Cmd+Z)"><i class="button fa fa-undo"></i></button>
			<button class="btn" data-edit="redo" title data-original-title="Redo (Ctrl/Cmd+Y)"><i class="button fa fa-repeat"></i></button>
		</div>
		<div class="separator"></div>
		<div class="btn-group">
			<button class="btn" data-edit="bold" title data-original-title="Bold (Ctrl/Cmd+B)"><i class="button fa fa-bold"></i></button>
			<button class="btn" data-edit="italic" title data-original-title="Italic (Ctrl/Cmd+I)"><i class="button fa fa-italic"></i></button>
			<button class="btn" data-edit="underline" title data-original-title="Underline (Ctrl/Cmd+U)"><i class="button fa fa-underline"></i></button>
			<button class="btn" data-edit="strikethrough" title data-original-title="Strikethrough"><i class="button fa fa-strikethrough"></i></button>
		</div>
		<div class="separator"></div>
		<div class="btn-group">
			<button class="btn btn-pressed" data-edit="justifyleft" title data-original-title="Align Left (Ctrl/Cmd+L)"><i class="button fa fa-align-left"></i></button>
			<button class="btn" data-edit="justifycenter" title data-original-title="Align Center (Ctrl/Cmd+E)"><i class="button fa fa-align-center"></i></button>
			<button class="btn" data-edit="justifyright" title data-original-title="Align Right (Ctrl/Cmd+R)"><i class="button fa fa-align-right"></i></button>
			<button class="btn" data-edit="justifyfull" title data-original-title="Align Jusify (Ctrl/Cmd+J)"><i class="button fa fa-align-justify"></i></button>
		</div>
		<div class="separator"></div>
		<div class="btn-group">
			<button class="btn" data-edit="insertunorderedlist" title data-original-title="Bullet List"><i class="button fa fa-list-ul"></i></button>
			<button class="btn" data-edit="insertorderedlist" title data-original-title="Number List"><i class="button fa fa-list-ol"></i></button>
			<button class="btn" data-edit="indent" title data-original-title="Indent"><i class="button fa fa-indent"></i></button>
			<button class="btn" data-edit="outdent" title data-original-title="Outdent"><i class="button fa fa-outdent"></i></button>
		</div>
	</div>
	<div class="preview-pane"></div>
	<div class="page" id="editor"></div>
</div>